@import './modules/colors.scss';
@import './modules/fonts.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.css');

:root,
textarea {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, $background 0%, black 100%);
}

html {
    background-color: black;
    color: $text;
    font-size: 16px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
    overflow: hidden;

    .content-wrapper {
        max-width: 750px;
        width: percentage($number: calc(725/750));
        margin-inline: auto;
        overflow: hidden;
    }
}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-block: 5px;
    position: fixed;
    bottom: 0;
    background-color: rgba(0,0,0,.099);
    display: flex;
    font-size: 12px;
    >* {
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin-inline-start: 0;
        margin-inline-end: 2ch;
        color: inherit;
    }

    >*:first-child {
        margin-inline-start: 15px;
    }
}
  
.input-container {
    $border-rad: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.5px solid $border;
    border-radius: $border-rad;
    background-color: transparent;
    &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f0e7";
        color: pink;
        padding-inline: 12px 0px;
    }
    &.active::before {
        color: mediumseagreen;
      }

    &:focus-within {
        background-color: #262626;  
    }

    .memo-input {
        font-weight: bold;
        background-color: transparent;
        color: $text;
        border: none;
        flex-grow: 2;
        resize: none;
        padding-block: 5px;
        margin-inline: 10px 4px;
        min-height: 20px;

        &:focus {
            outline: none;
        }

        &.sizeable {
            max-height: 50vh;
            resize: vertical;
        }


    }
    .send-button {
        background-color: transparent;
        color: $text;
        border: none;
        cursor: pointer;
        padding-inline: 5px 12px;

        &:hover {
            color: lightgray;
        }

        &:active {
            color: darkgray;
        }
    }
}

.modal {
    display: none;

    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all 2s ease;
    background-color: rgba($color: pink, $alpha: .75);
    color: black;
    text-align: center;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 10px;
    z-index: 1;
    
    .modal-content {
        padding-block: 5px;
    }

    .close {
        opacity: 20%;
        float: right;
        
      &:hover,
      &:focus {
        opacity: 70%;
        cursor: pointer;
      }
    }
}

h3#recents {
    align-self: flex-start;
    margin-top: 7vh;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border;
    
    i#refresh {
        float: inline-end;
        font-size:smaller;
        margin-top: .5ch;
        transition: all .2s ease;
    
        &:active {
            scale: 0.75;
        }
    
    }
}

div#posts {
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    overflow-y: auto;

    .post {
        border-radius: 12px;
        background-color: #262626;
        border: 1px solid #262626;
        &:hover {
            background-color: #252525;
            border: 1px solid $border;
        }
        margin-top: 10px;
        padding-top: 5px;


        a {
            text-decoration: none;
            color: inherit;
            margin: 0;
            padding: 0;

            p {
                margin-inline: 0;
                padding: 0;
                padding-inline: 12px;
            }
        }

        #trash {
            float: inline-end;
            margin: 5px;
            padding-inline: 4px;
            padding-block: 0px 4px;
        }
    }

    .nopost {
        text-align:center;
        font-style: italic;
        color: rgb(53, 53, 53);
        text-decoration: none;

        p {
            margin: 0;
            padding: 0;
         
            i {
                font-size:2.5rem;
                margin: 0;
                margin-bottom: 12px;
                padding: 0;
                display: block;
            }
        }
    }
}
  

  