////// Global Colors
$green: mediumseagreen;
$red: tomato;
$primary: pink;

////// Default Colors
//$background: #282c34;
//$sitebg: #2c323d;
//$text: #F9F9F9;
//$border:   #5c6370;
//$accenttxt: #abb2bf;


////// Light Mode Colors
//$background: #dadada;
//$sitebg: #bebebe;
//$text: #292929;
//$border: #585858;
//$accenttxt: rgb(95, 95, 95);

:root {
  --background: #282c34;
  --sitebg: #2c323d;
  --text: #F9F9F9;
  --border: #5c6370;
  --accenttxt: #abb2bf;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #dadada;
    --sitebg: #bebebe;
    --text: #292929;
    --border: #585858;
    --accenttxt: rgb(95, 95, 95);
  }
}
