.card {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 22em;
    max-width: 80%;
    padding: 2em 0;
    background: #FFF;
    background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 100%);
    box-shadow: 0 0 6px 0 rgba(#202024, .12);
    transition: all .35s ease;
    
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
      height: 4px;
    }
    
    &::before {
      width: 0;
      opacity: 0;
      transition: opacity 0 ease, width 0 ease;
      transition-delay: .5s;
    }
    
    &::after {
      width: 100%;
      background: #FFF;
      background-color: rgba(0,0,0,1);
      transition: width .5s ease;
    }
    
    .content {
      width: 18em;
      max-width: 80%;
    }
    
    .logo {
      margin: 0 0 1em;
      width: 10.625em;
      filter: grayscale(80%);
      transform: translateX(-1vh) translateY(1vh);
      transition: all .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      opacity: 100%;
    }

    h4 {
        color: #e6e6e6;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 4px;
      }

    h6 {
      color: #e6e6e6;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 2px;
    }
    
    .hover_content {
      overflow: hidden;
      max-height: 0;
      transform: translateY(1em);
      transition: all .55s ease;
      
      p {
        margin: 1.5em 0 0;
        color: #cccccc;
        line-height: 1.4em;
      }
    }
    
    &:hover {
      width: 24em;
      box-shadow: 0 10px 20px 0 rgba(#202024, .12);
      background: #FFF;
      background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 100%);
      
      &::before {
        width: 100%;
        opacity: 1;
        transition: opacity .5s ease, width .5s ease;
        transition-delay: 0;
      }
      
      &::after {
        width: 0;
        opacity: 0;
        transition: width 0 ease;
      }
      
      .logo {
        margin-bottom: .5em;
        filter: none;
        transform: translateY(-35px) translateX(20px) scale(1.3);
        opacity: 100%;
      }

      .stats {
        filter: blur(4px);
        opacity: 0;
        transform: translateX(30px);
      }
      
      .hover_content {
        max-height: 10em;
        transform: none;
      }
    }
  }

.icons {
  padding-top: 32px;
  text-align: center;
}

.icon, i {
  padding: 5px;
}

.info {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  padding-block: 0px;
  background: black;
  background-color: rgba(0,0,0,.25);
}

.stats {
  position: absolute;
  right: -70px;
  top: 15px;
  transition: opacity .2s ease, transform .1s linear;
  transition-delay: 0s;
}

.info-content {
  font-size: x-small;
  vertical-align: middle;
  margin-inline: 4px;
}