// Prefers Light Mode

@media (prefers-color-scheme: light) {
    $background: #dadada;
    $sitebg: #f9f9f9;
    $text: #101010;
    $border: #c0c0c0;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    $ai-padding: 10px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    $ai-padding: 10px; 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
